{% extends 'padre.html' %}
{% load static %}

{% block contenidoDinamico%}
<!-- Masthead-->
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-20">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">Déjanos tus datos, te contactaremos a la brevedad!</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<form action="{% url 'form_mayorista' %}" method="POST"> {% csrf_token %}
 
    {{form_mayorista.as_p}}

    <input type="submit" value="Enviar"/>

</form>
        
{% endblock contenidoDinamico%}