{% extends 'padre.html' %}
{% load static %}

{% block contenidoDinamico%}
<!-- Masthead-->
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-20">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">Bienvenidos a nuestro catálogo</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<p> 
    {% for zapato in zapatos %}
    {% if user.is_authenticated %}
    <li> 
        <img src="{{zapato.foto.url}}" alt="foto_producto"><br>Nombre: {{zapato.nombre}}<br>Material: {{zapato.material}}<br>Colores: {{zapato.color}}<br>Talle: {{zapato.talle}}<br> Stock: {{zapato.stock}} <br>Precio: {{zapato.precio}} 
    </li>
    <div>
        {% if user.is_authenticated and user.is_staff  %}
        <form action="{% url 'eliminar_zapato' zapato.id %}" method="POST"> {% csrf_token %}
            <button type="submit"> Eliminar </button>
        </form>
        {% endif %}
        <button>
            <a href= "{% url 'editar_zapato' zapato.id %}"> Editar</a>
        </button>
    </div>
    {% else %}
    <li> 
        Nombre: {{zapato.nombre}} - Precio: {{zapato.precio}}
        <img src="{{zapato.foto.url}}" alt="foto_producto"> 
    </li>
    <div>
        <button>
            <a href= "{% url 'detallezapato' zapato.id %}"> Ver más</a>
        </button>
    </div>
    {% endif %}
    {% endfor %}

</p>
        
{% endblock contenidoDinamico%}