{% extends 'padre.html' %}
{% load static %}

{% block contenidoDinamico%}
<!-- Masthead-->
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-20">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">Ingrese sus datos para iniciar sesión</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<form action="{% url 'login' %}" method="POST"> {% csrf_token %}
    {{form_login.as_p}}
    <input type="submit" value="Ingresar"/>
</form>
<br>
<a href= "{% url 'registrar' %}" >Crear usuario</a>
        
{% endblock contenidoDinamico%}