{% extends 'padre.html' %}
{% load static %}

{% block contenidoDinamico%}
<!-- Masthead-->
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-20">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">Ha cerrado sesión , esperamos que vuelva pronto :)</h1>
                    <a class="btn btn-primary" href= "{% url 'inicio' %}" >Ir a la página principal</a>
                </div>
            </div>
        </div>
    </div>
</header>       
{% endblock contenidoDinamico%}