{% extends 'padre.html' %}
{% load static %}

{% block contenidoDinamico%}
<!-- Masthead-->
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-20">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">Quién soy?</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<p> 
<br>
Mi nombre es Juliana Blanc, tengo 29 años, soy entrerriana y Licenciada en Relaciones Públicas pero mi desarrollo profesional siempre fue en Marketing.
<br>
<br>
Actualmente vivo y trabajo en México, como Coordinadora de Marketing Digital en una empresa de Suspensiones para automóviles.
<br>
<br>
Con el Ecommerce, tuve mi primer acercamiento al desarrollo web y actualmente, con este curso, estoy comenzando mi ruta de estudio para convertirme en QA Tester. 
<br>
<br>
Mi objetivo era tener un conocimiento básico sobre la programación y cumplí con mis expectativas. 
</p>
        
{% endblock contenidoDinamico%}