{% extends 'padre.html' %}
{% load static %}

{% block contenidoDinamico%}
<!-- Masthead-->
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-20">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">Conoce los detalles del zapato {{zapato.nombre}}</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<img src="{{zapato.foto.url}}" alt="foto_producto"> 
<p> Nombre: {{zapato.nombre}} <br> Material: {{zapato.material}} <br> Colores: {{zapato.color}} <br> Talle: {{zapato.talle}}<br>Precio: {{zapato.precio}}</p>
     <div>
        <button>
            <a href= "{% url 'lista_zapatos'%}"> Ver todos los zapatos </a>
        </button>
    </div>
</p>     
{% endblock contenidoDinamico%}